.players-zone {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 50%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 1px solid rgb(78, 76, 76);
}


.players-zone .map-zone {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.603);
	width: 100%;
	height: 100%;
}

.players-zone .map-zone .map {
	background-color: rgb(0, 0, 0);
	position: absolute;
	top: 0;
	left: 0;
}

/* .players-zone .map-zone .map .player {
	position: absolute;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
} */

.players-zone .map-zone .map .player .range-a {
	width: 200%;
	height: 200%;
	position: relative;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
	border: 2px dotted black;
}

.players-zone .player-pos {
	background-color: rgba(0, 0, 0, 0.678);
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
}

.players-zone .wall {
	background-color: rgba(173, 173, 173, 0.651);
	border: 3px dotted black;
	border-radius: 7px;
}
